.Day {
  display: flex;
  flex-direction: column;
}

.day__label {
  padding: 0.25em;
}

.day__icon > img{
  height: 4em;
}

.day__temp {
  display: flex;
  justify-content: center;
}

.day__temp > div{
  padding: 0.25em;
}